h1 {
  color: #1f2261;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

p {
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.converter {
  box-sizing: border-box;
  width: 360px;
  height: 720px;
  padding-inline: 20px;
  padding-top: 50px;
  background-color: #F6F6F6;
  border-radius: 12px;
}

.converter__subtitle {
  text-align: center;
  margin-bottom: 44px;
}

.converter__card {
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 30px;
}

.converter__switch {
    display: flex;
    justify-content: center;
    position: relative;
}

.switch-button {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: none;
    background: #26278D;
    color: white;
    font-size: 24px;
    font-weight: 700;
    z-index: 2;
}

.converter__switch::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background-color: #000;
    opacity: 10%;
    z-index: 1;
}

.converter__rate p {
    margin-bottom: 13px;
}
.converter__rate strong {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
